@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;

}

:root {
    --main-color: rgb(43, 43, 56);
    --secd-color: rgb(35, 35, 37); 
    --thir-color: rgb(58, 58, 110);
    --four-color: rgb(162, 180, 196); 
}

html, body {
    scroll-behavior: smooth;
    
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4 {
    color: var(--thir-color);
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    box-shadow: 0px 4px 6px #0000001a;
}

.navBar #danTitulo a{
    color: var(--four-color);
    text-decoration: none;

    transition: 0.5s ease-in;
}

.navBar #danTitulo a:hover {
    text-decoration: underline;
    color: var(--thir-color);
    transform: scale(1.01);
}

.navBar #leoTitulo a{
    color: var(--four-color);
    text-decoration: none;

    transition: 0.5s ease-in;
}

.navBar #leoTitulo a:hover {
    text-decoration: underline;
    color: var(--thir-color);
    transform: scale(1.01);
}

.fotoPerfilLeo {
    position: absolute;
    bottom: -20%; 
    left: 85%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 25%; 
    height: 85%;
    border: 5px solid white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    position: relative;
    width: 100%;
}

.headerMain {
    width: 100%;
    height: 500px;
    display: block;
}

main {
    display: flex;
    width: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;

    width: 100%;
    height: fit-content;
    background-color: var(--main-color);

    padding-top: 120px;
    padding-right: 30px;
    border-left: 1px solid black;
    color: #fff;
}

.info-iniciais {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 70%;
    height: 100px;
    background-color: var(--secd-color);

    transition: 0.5s ease-in;
}

.info-iniciais:hover {
    transform: scale(1.04);
}

.info-iniciais a  {
    color: var(--four-color)!important;
    font-size: 2em;
    letter-spacing: 30px;
    transition: 0.2s ease-in-out;
}

.info-iniciais a:hover {
    font-size: 2.2em;
    color: rgb(52, 99, 52);
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: space-around;

    width: 70%;
    height: fit-content;
    background-color: var(--secd-color);

    transition: 0.5s ease-in;
}

.sobre-mim:hover {
    transform: scale(1.04);
}

.sobre-mim h2 {
    padding-top: 20px;
}

.sobre-mim p {
    width: 50%;
    font-size: 1.2em;
    text-align: justify;
}

.imagens {
    display: flex;
    column-gap: 29px;
    padding-bottom: 20px;
}

.sobre-mim img {
    width: 230px;
    transition: 0.3s;
}

.sobre-mim img:hover {
    transform: scale(1.03);
}

.projetos {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: space-around;

    width: 70%;
    height: 630px;
    background-color: var(--secd-color);

    transition: 0.5s ease-in;
}

.projetos:hover {
    transform: scale(1.04);
}
.projetos h2 {
    padding-top: 20px;
}

.projetos p {
    width: 80%;
}

/*
CARD
*/

.projects-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    column-gap: 20px;
}

.favoritos .cards .projects .projects-container {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Espaçamento entre os cards */
}



.project-card {
    border-radius: 2rem;
    overflow: hidden; 
    width: calc(30% - 20px); /* Cada card ocupa 50% da largura com um pequeno espaço */
    max-width: 400px; /* Define uma largura máxima para os cards */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
    position: relative; 
}

.favoritos .project-card {
    width: calc(50% - 20px); /* Cada card ocupa 50% da largura com um pequeno espaço */
    max-width: 400px; /* Define uma largura máxima para os cards */
}

.favoritos .project-card {
    /* width: 200px; */
}

.project-card:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 100%;
    height: 250px; /* Altura fixa para uniformidade */
    object-fit: cover; /* Ajusta a imagem ao tamanho */
    transition: transform 0.3s ease; /* Efeito para suavidade */
}

.image-container {
    position: relative;
    overflow: hidden; /* Garante que nada ultrapasse o limite do contêiner */
    height: 300px; /* Altura para conter a imagem */
}

.project-info {
    position: absolute;
    /* right: 1%; */
    bottom: 0;
    width: 100%;
    background: var(--four-color);
    color: #fff;
    text-align: center;
    padding: 0.8rem 1.5rem 1.5rem 1.5rem;
    transform: translateY(78%); /* Inicialmente fora de vista */
    transition: transform 0.3s ease;
    z-index: 1;
}

.project-card:hover .project-title {
    transform: translateY(0); /* Exibe o título */
}

.project-card:hover .project-info {
    transform: translateY(0); /* Revela as informações */
}

.project-info h4 {
    position: relative;
    right: 23px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.technologies {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem; /* Tamanho dos ícones */
}

.technologies i {
    position: relative;
    right: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.technologies i:hover {
    transform: scale(1.2); /* Efeito ao passar o mouse */
    color: #fff; /* Cor ao passar o mouse */
}

/*
FIM CARD
*/

.favoritos {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: space-around;
    
    width: 70%;
    height: 1000px;
    background-color: var(--secd-color);

    transition: 0.5s ease-in;
}

.favoritos:hover {
    transform: scale(1.04);
}

.favoritos h2 {
    padding-top: 20px;
}

.favoritos p {
    width: 80%;
}

.favoritos-card {
    border-radius: 2rem;
    overflow: hidden; 
    max-width: 250px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
    position: relative; 
}

.favoritos-card:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.heading { 
    padding-left: 30px;
}

.heading-favoritos {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 1.3em;

    color: #fff;
    padding-top: 40px;
}

.main-content-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--secd-color);
    width: 100%;
    height: 60px;
}

.back-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--thir-color);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    padding: 15px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.back-top:hover {
    background-color: var(--secd-color);
    transform: scale(1.1);
}

/* Estilo da barra de rolagem (para navegadores baseados em Webkit como Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 20px; /* Largura da scrollbar vertical */
}

::-webkit-scrollbar-track {
    background: var(--secd-color); /* Cor do fundo da scrollbar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--thir-color); /* Cor da parte que você arrasta */
    border-radius: 10px;
    border: 3px solid var(--secd-color); /* Espaçamento interno para deixar a barra mais "leve" */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--four-color); /* Cor ao passar o mouse */
}